.jumbotron {
  background-color: #528B8B;
  text-shadow: 2px 2px 4px white;
}

.body {
  font-family: 'Hind', sans-serif;
}

.titles {
  color: #990000;
}

img{
  height: 1em;
}

body {
  text-align: center;
  background-color: #d0d0d0;
}

.toppings-box {
margin-bottom: 2em;
}

.results {
  display: none;
}

h6 {
  font-weight: bold;
  margin-bottom: 10px;
  color: blue;
}
.footer {
  margin-top: 3em;
}

#total-price {
  font-size: 2em;
  color: red;
}

h4 {
  color:#006600;
}
